.wrapper {
    cursor: pointer;
    background-image: var(--button-gradient);
    transition: var(--base-transition);
    text-align: center;
    background-size: 200% auto;
    color:  var(--white);
}

.lg {
    border-radius: var(--border-radius-lg);
    padding: var(--space-16) var(--space-32);
    width: fit-content;
}

.md {
    border-radius: var(--border-radius-lg);
    width: fit-content;
}

.sm {
    border-radius: var(--border-radius-lg);
    padding: var(--space-10) var(--space-20);
    width: fit-content;
}

.wrapper:hover {
    background-position: right center;
}

.wrapper:active {
    transform: scale(.95);
}