.background {
    position: absolute;
    height: auto;
    width: 100%;
    top: 91px;
    border-bottom: 1px solid var(--25per-blue1000);
}

.halfBlock {
    position: absolute;
    width: 50vw;
    height: 100%;
    border-right: 1px solid var(--25per-blue1000);
    background: var(--white);
    z-index: var(--zindex-background);
}

.contentWrapper {
    height: 1025px;
}

.centerCircle {
    position: absolute;
    width: 220px;
    height: 220px;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    box-shadow: var(--circle-box-shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20002;
}

.centerCircleShadow {
    position: absolute;
    width: 220px;
    height: 110px;
    overflow: hidden;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 220px 220px 0 0;
    background: radial-gradient(circle, var(--blue1000) 50%, rgba(0, 0, 255, 0) 100%);
    filter: blur(80px);
    z-index: 20001;
}

.content {
    height: 100%;
    margin-top: var(--space-120);
    margin-bottom: var(--space-300);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headingWrapper {
    width: 385px;
}

.infoWrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}