.moduleWrapper {
    height: calc(100vh - var(--header-height));
}

.background {
    position: absolute;
    height: auto;
    width: 100%;
    top: 91px;
}

.halfBlock {
    position: absolute;
    width: 50vw;
    height: calc(100% + 5px);
    top: -5px;
    border-right: 1px solid var(--25per-blue1000);
    background: var(--white);
    z-index: var(--zindex-background);
}

.contentWrapper {
    height: 1025px;
}

.centerCircle {
    position: absolute;
    width: 220px;
    height: 220px;
    aspect-ratio: 1 / 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    box-shadow: var(--circle-box-shadow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20002;
}

.centerCircleShadow {
    position: absolute;
    width: 220px;
    height: 110px;
    overflow: hidden;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    border-radius: 220px 220px 0 0;
    background: radial-gradient(circle, var(--blue1000) 50%, rgba(0, 0, 255, 0) 100%);
    filter: blur(80px);
    z-index: 20001;
}

.content {
    height: calc(100vh - var(--header-height));
    gap: var(--space-64);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.headingWrapper {
    width: 385px;
}

.infoWrapper {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: var(--space-16);
}

/* MD */
@media (max-width: 1439px) and (min-width: 1024px) {

}

/* SM */
@media (max-width: 1023px) and (min-width: 768px) {
    .halfBlock {
        height: calc(100% + 20px);
    }

    .centerCircle {
        width: 200px;
        height: 200px;
    }

    .headingWrapper {
        width: 290px;
    }
}


/* XS */
@media (max-width: 767px) and (min-width: 320px) {
    .content {
        margin-top: var(--space-24);
        gap: var(--space-24);
        justify-content: flex-start;
    }

    .halfBlock {
        width: 100vw;
        height: 500px;
        top: -5px;
        border-right: unset;
        border-bottom: 1px solid var(--25per-blue1000);
    }

    .centerCircle {
        width: 120px;
        height: 120px;
    }
}
